/* utility class */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  // border: 1px solid red;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
  }
}

.header {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookList {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
}

.addBookButton {
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  margin: 1%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  outline: 0;
  border: 1px solid;
  .addIcon {
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    max-width: 20%;
    height: auto;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &:hover {
    border: 0px;
    background-color: aliceblue;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .addIcon {
      transform: rotate(90deg);
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
    }
  }
  &:active {
    transform: translateY(4px);
    transition-duration: 100ms;
  }
}
