/* utility class */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  // border: 1px solid red;
}

.allBody{
  background-image: url("./assets/images/bgAI.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}


.header {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  h1{
    font-size: xx-large;
  }
}

.bookList {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: grid;
}

.addBookButton {
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  margin: 1%;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  padding-inline: 30px;
  outline: 0;
  border: 1px solid;
  .addIconBlack {
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    max-width: 20%;
    height: auto;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  h3{
    color: white;
    font-size: medium;
    font-family: cursive;
  }
  &:hover {
    cursor: pointer;
    border: 0px;
    background-color: aliceblue;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .addIconBlack {
      transform: rotate(90deg);
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
    }
    h3{
      color: black;
    }
  }
  &:active {
    transform: translateY(4px);
    transition-duration: 100ms;
  }
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
  .header{
    h1{
      font-size: larger;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 2px;
    padding-inline: 5px;
    h3{
      font-size: x-small;
    }
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .header{
    h1{
      font-size: larger;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 20px;
    h3{
      font-size: small;
    }
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
  .header{
    h1{
      font-size: larger;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 30px;
    h3{
      font-size: small;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header{
    h1{
      font-size: larger;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 30px;
    h3{
      font-size: medium;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .header{
    h1{
      font-size: x-large;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 30px;
    h3{
      font-size: medium;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .header{
    h1{
      font-size: xx-large;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 30px;
    h3{
      font-size: medium;
    }
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
  }
  .header{
    h1{
      font-size: xx-large;
    }
    img{
      width: 50px;
      height: 50px;
    }
  }
  .addBookButton{
    padding: 5px;
    padding-inline: 30px;
    h3{
      font-size: xx-large;
    }
  }
}